<span style="color:red;">{{error.errorMsg}}</span>
<div class="panel pane-info">
	<div class="panel-heading">
		<b>BLog Title:</b>{{blogPost.blogTitle}}<br> 
		<b>Posted By:</b>{{blogPost.postedBy.firstname}} &nbsp; {{blogPost.postedBy.lastname}}<br> <b>POsted
			On:</b>{{blogPost.postedOn | date:'dd:MM:yyyy'}}<br>
	</div>
	<div class="panel-body">
		<p ng-bind-html="content"></p>
		Likes:{{blogPost.likes}} &nbsp; DisLikes:{{blogPost.dislikes}}<br>
		<a href="" ng-click="incLike(blogPost)"><span class="glyphicon glyphicon-thumbs-up" title="Like"></span></a>
		<a href="" ng-click="dcrLike(blogPost)"><span class="glyphicon glyphicon-thumbs-down" title="DisLike"></span></a><br>
<a href="#/getblogs">Get all blogs</a>
	</div>	
</div>